2 WF_AlwaysOn_DCE_Ack WifiNetDevice 0-19
3 WF_AlwaysOn_DCE_NoAck WifiNetDevice 0-19
4 WF_AlwaysOn_DCE_Ack SlimNetDevice 0-19
5 WF_AlwaysOn_DCE_NoAck SlimNetDevice 0-19
6 WF_AlwaysOn_DCE_Ack WifiNetDevice 0-19
7 WF_AlwaysOn_DCE_NoAck WifiNetDevice 0-19
8 WF_AlwaysOn_DCE_Ack SlimNetDevice 0-19
9 WF_AlwaysOn_DCE_NoAck SlimNetDevice 0-19
