2 WF_AlwaysOn_DCE_NoAck SlimNetDevice WF_FULL_EST 1 1 0-19
3 WF_AlwaysOn_DCE_NoAck SlimNetDevice WF_FULL_EST 1 1 0-19
4 WF_AlwaysOn_DCE_NoAck SlimNetDevice WF_FULL_EST 1 1 0-19
5 WF_AlwaysOn_DCE_NoAck SlimNetDevice WF_FULL_EST 1 1 0-19
